body { 
  margin: 20px;
  font-family: "apercu",sans-serif;
  background-color: #f4f7f6;
}

.title {
  color: blue;
  cursor: pointer;
}

.title p:hover {
  color: purple;
}

h1 {
  margin-top: 5px;
  color: black;
  font-family: "Rubik", sans-serif;
  font-size: 3em;
  font-weight: bold;
}


.list td {
  width: 200px;
  font-size: 1em;
  height: 20px;
  text-align: center

}

.list td:nth-child(5) {
  width: 100px;
  font-size: 1em;
  height: 20px;
  text-align: center

}

.list tr {
  border-bottom: solid 1px;
}

.list tr:nth-child(even) {
  background-color: #f2f2f2;
  color: black;
}

h2 {
  margin-top: 0;
}


.button button {
  border-radius: 5px;
}

.button button:hover {
  background-color: lightblue;
}

.button button:focus {
   background-color: lightblue;
}
button p:nth-child(1) {
  margin: 2px;
  color: black;
}

button p:nth-child(2) {
  color: blue;
}

button p:nth-child(3) {
  color: green;
}

button p:nth-child(4) {
  color: red;
}


.round {
  border-radius: 50%;
}

.add {
  margin-top: 50px;
}

.player {
  margin-bottom: 50px;
}

.player button {
    border: 1px solid #cfcfcf;
    color: #555;
    background: #e9e9e9;
    text-decoration: none;
    height: 30px;
    margin: 0px;
    cursor: pointer;
    position: relative;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 3px 1px #b1b1b1, #fafafa 0 -1px 0;
    -webkit-box-shadow: 0 3px 1px #b1b1b1, #fafafa 0 -1px 0;
    box-shadow: 0 3px 1px #b1b1b1, #fafafa 0 -1px 0;
    margin: 5px;
}